<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <!-- Jobs Tab Navigation Link -->
    <ion-tab-button tab="jobs">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <!-- Visual Floating FAB Style Submit Layout Wrapper Integration -->
    <ion-tab-button tab="submit" class="fab-tab-container">
      <div class="fab-floating-circle">
        <ion-icon name="add-circle-outline" class="fab-center-icon"></ion-icon>
      </div>
      <ion-label class="fab-label-fix">Print</ion-label>
    </ion-tab-button>

    <!-- More Options Group Links Wrapper Matrix Link Row -->
    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>