<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs" href="/tabs/jobs">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="submit" href="/tabs/submit">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Submit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>